version: '3'

services:
  php:
    build: ./conf/php
    env_file:
      - .env
    restart: always
    links:
      - postgres
    volumes:
      - ./logs/php:/var/log/php
      - ./app:/var/www/html
    ports:
      - '9000:9000'

  node:
    restart: always
    build:
      context: .
      dockerfile: ./conf/node/Dockerfile
    volumes:
      - ./logs/node:/var/log/node
      - ./node:/usr/src/app
    ports:
      - '5858:5858'

  nginx:
    image: nginx:1.19
    restart: always
    links:
      - php
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'

  postgres:
    env_file:
      - .env
    image: postgres:11-alpine
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./dumps:/dumps
    ports:
      - '5432:5432'