security:
    enable_authenticator_manager: true

    password_hashers:
        App\Entity\User:
            algorithm: argon2id

    providers:
        user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        api:
            pattern: ^/api/(?!sign_up|sign_in)([a-z0-9]+)$
            custom_authenticator:
                - App\Security\TokenAuthenticator

        main:
            json_login:
                check_path: sign_in
                username_path: email
                password_path: password

            oauth:
                # Владельцем ресурса является пользователь, входящий через OAuth.
                # Но в данном случае перечисляются доступные роуты серверов ресурсов, из которых можно аутентифицировать пользователя
                # (долго втыкал просто)
                resource_owners:
                    google:          "/login/check-google"
                    apple:         "/login/check-apple"
                login_path:        /login/
                use_forward:       false
                failure_path:      /login/

                oauth_user_provider:
                    orm:
                        class: App\Entity\User
                        properties:
                            google: email
                            apple: email


    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
